.page-container {
  display: flex;
  width: 100%;
}

.left-column {
  width: 512px; 
  min-height: 100vh;
  padding: 32px;
}

.right-column {
  flex-grow: 1;
  background-color: #42B7DC;
  min-height: 100vh;
}

.title {
  text-align: center;
}