.buttonBase {
    width: 128px;
    height: 40px;
    padding: 10px 32px 10px 32px;

    box-sizing: border-box;
    color: #f9f9f9;
    float: right;
    
    background-color: #88c772;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;

    box-shadow: 0 1px 3px 0 #cfd7df;

    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.buttonBase:hover {
    background-color: #78b762;
    cursor: pointer;
}